<hr class="mt-3 mb-4" />

<div class="container-fluid mt-3 mb-3 ">
<div class="container mb-3">
  <h5 class="text-center text-primary border border-primary p-2 rounded">Search by Parking Lot Name / Location / Pincode</h5>
</div>
  <div class="row">
    <div class="col-md-12">
      <form action="" method="GET">
        <div class="input-group">
          <!-- Dropdown -->
          <select name="parameter" id="parameter" class="form-select">
            <option value="lot_name">Parking Lot Name</option>
            <option value="address">Address</option>
            <option value="pincode">Pincode</option>
          </select>

          <!-- Search input -->
          <input type="text" name="query" class="form-control" placeholder="Search for..." />

          <!-- Submit button -->
          <button class="btn btn-primary" type="submit">Search</button>

          <!-- Clear button -->
          <a class="btn btn-danger" type="button" id="clearBtn" href="{{ url_for('home')}}" >Clear</a>
        </div>
      </form>
    </div>
  </div>
</div>


